.scroll-tbody {
  display: block;
  max-height: 500px;
  overflow: auto;
  width: 100%;
}

.scroll-trow {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.scroll-thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.transform-to-budget {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.data-sketch {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.container-form-sketch {
  flex-direction: column;
  flex: 5;
}

.container-data-transform-button {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.full-container {
  display: flex;
}

.blank-container {
  flex-direction: column;
  flex: 1;
}
