body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.edit-icon {
  color: green;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-30 {
  font-size: 30px;
}

.div-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.align-center {
  display: flex;
  justify-content: center;
}

.page-title {
  font-size: 36px;
  font-weight: 600;
}

.table-preferences {
  max-width: 80%;
  text-align: center;
}

.select-width {
  width: 200px;
}

.select-dropdown {
  min-width: 400px;
  text-align: start;
  height: 20px;
}

.text-area-size {
  width: 400px;
  height: 200px;
}

.default-remove-icon {
  color: red;
  cursor: pointer;
}

.default-view-icon {
  color: blue;
  cursor: pointer;
}

.data {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: -40px;
}

.image-logo {
  background-image: url("./images/ChicoRacingLogoOp.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
